# **Python divides the operators in the following groups:**

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

In [1]:
import pandas as pd
#    use pandas to extract table from w3 schools website
table = pd.read_html("https://www.w3schools.com/python/python_operators.asp") # type: ignore
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

In [8]:
num1: int = 2
num2: int = 5
print(num1 + num2)     # Addition
print(num1 - num2)          # Subtraction
print(num1 * num2)            # Multiplication
print(num1 / num2)                 # Division

7
-3
10
0.4

In [10]:
num1: int = 2
num: int = 5
print(5 % 2)  # Modulus Operator gives us the remainder value.

1

In [12]:
print(2 ** 2) # Exponential / Power
print(2 ** 3)

4
8

In [14]:
print(12 / 3)
print(12 // 3)  # floor division gives us  the largest integer less than or equal to the result of division.

4.0
4

# **Assignment Operators In Python**

In [15]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [4]:
number: int = 5   #= operator is used to assign value to a variable

In [5]:
num1: int = 5
print(num1)
num1 = num1 + 3   # that's how you over write the variable but is is an old way
print(num1)

5
8

In [6]:
# we have += to over write a variable
num1: int = 5
print(num1)
num1 += 3
print(num1)

5
8

### same as + =
- 3 *=	
- 4	/=	
- 5	%=	
- 6	//=
- 7	**=

# **Comparision Operators In Python**

In [7]:
table[2]

  Operator                      Name Example    Try it
0       ==                     Equal  x == y  Try it »
1       !=                 Not equal  x != y  Try it »
2        >              Greater than   x > y  Try it »
3        <                 Less than   x < y  Try it »
4       >=  Greater than or equal to  x >= y  Try it »
5       <=     Less than or equal to  x <= y  Try it »

In [9]:
num1: int = 7
num2: int = 10

num1 == num2        # == compares the value of both variables  and returns a boolean True or False.

False

In [10]:
num1: int = 10
num2: int = 10

num1 == num2  # == compares the value of both variables  and returns a boolean True or False.

True

In [12]:
num1: int  = 7
num2: str = "7"

num1 == num2  # we dont need ' === '  in python to compare types . It automatically does that for us.

False

In [13]:
num1: int = 7 
num2: int = 8
num1 != num2

True

In [14]:
num1: int = 7
num2: int = 7
num1 != num2

False

In [15]:
num1: int = 8
num2: int = 7
num1 > num2

True

In [16]:
num1: int = 8
num2: int = 7
num1 < num2

False

In [19]:
num1: int = 7
num2: int = 7
num1 > num2

False

In [20]:
num1: int = 7
num2: int = 7
num1 <= num2

True

In [22]:
num1: int = 8
num2: int = 7
num1 <= num2

False

### **ASCII Code function in python**
- `chr(i)`: This method returns a string representing a character whose ASCII code is i. For example, chr(65) will return 'A'.
- `ord(char)`: It returns an integer representing the Unicode character. For  example, ord('A') is 65

In [5]:
chr(65)

'A'

In [7]:
ord('A')

65

# **Logical Operators In Python**

In [3]:
import pandas as pd
#    use pandas to extract table from w3 schools website
table = pd.read_html("https://www.w3schools.com/python/python_operators.asp") # type: ignore
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

- `and` in programming means must (lazmi in urdu)
- `or` in programming means optional
- `not` it reverse the return statement  of a condition. If a condition is true then not will make it false and vice versa

### **and**

In [1]:
True and True and True and True # in and operator all conditions must be True

True

In [2]:
True and False and True and True # if one of the conditions is false it will return false

False

### **or**

In [ ]:
True or False or True or False # in the case of or one of the conditions should be True  it will return True

In [1]:
False or False or  True

True

In [2]:
False or False or False # it will return False only if all conditions are false

False

### **not**

In [3]:
not True # it will reverse the return statement

False

In [4]:
not False

True

In [5]:
name: str = "Resheph"
"Resheph" not in name

False

In [6]:
name: str = "Resheph"
"Resheph" in name

True

In [7]:
name: str = "Resheph"
"Resheph" !=  name     # we can also use comparison != operator for not

False

# **Python Identity Operators**

In [3]:
import pandas as pd

#    use pandas to extract table from w3 schools website
table = pd.read_html("https://www.w3schools.com/python/python_operators.asp")  # type: ignore
table[4]

,Operator,Description,Example,Try it
0,is,Returns True if both variables are the same ob...,x is y,Try it »
1,is not,Returns True if both variables are not the sam...,x is not y,Try it »

In [12]:
x: str = "abc"
z: str = "abc"

print(id(x))  # The id of both variable is same that means it is same object at the backend
print(id(z))     
x is z

140730368200968
140730368200968

True

In [13]:
x: str = "abc"
z: str = "abc"

print(
    id(x)) 
print(id(z))
x is not  z

140730368200968
140730368200968

False

# **Python Membership Operator**

In [10]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [13]:
x: str = "Resheph Inayat"
y: str = "Resheph"
y in x

True

In [14]:
x: str = "Resheph Inayat"
y: str = "Resheph"
y not in x

False

# **Operator Precedence In Python**
- In Python, the order of operations follows the same principles as PEMDAS. That is, expressions inside parentheses are evaluated first, followed by exponents, then multiplication and division (from left to right), and finally addition and subtraction (from left to right).

The precedence order is described in the table below, starting with the highest precedence at the top:

In [17]:
table[7]

,Operator,Description,Try it
0,(),Parentheses,Try it »
1,**,Exponentiation,Try it »
2,+x -x ~x,"Unary plus, unary minus, and bitwise NOT",Try it »
3,* / // %,"Multiplication, division, floor division, and ...",Try it »
4,+ -,Addition and subtraction,Try it »
5,<< >>,Bitwise left and right shifts,Try it »
6,&,Bitwise AND,Try it »
7,^,Bitwise XOR,Try it »
8,|,Bitwise OR,Try it »
9,== != > >= < <= is is not in not in,"Comparisons, identity, and membership operators",Try it »
10,not,Logical NOT,Try it »
11,and,AND,Try it »
12,or,OR,Try it »

# **Underscore in Numbers**

In [19]:
universal_age: int = 14_000_000_000  # it is used for more readability of code
print(universal_age)

14000000000

# **Zip & Unzip**

In [20]:
a, b, c, = 1,2,3   # zio method gives the value to each variable on the basis of index  
print(a)
print(b)
print(c)

1
2
3